<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductOutputDir="$(var.SolutionDir)AddIn\$(var.OutDir)" ?>

  <!-- インストールディレクトリ -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="Excel Extension AddIn" />
      </Directory>
    </Directory>
  </Fragment>

  <!-- インストールファイル -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ExcelExtensionAddIn.dll" DiskId="1" Guid="6B013CE4-1E78-4128-AC18-A1343E4F9F5B">
        <File Id="ExcelExtensionAddIn.dll" Name="ExcelExtensionAddIn.dll" Source="$(var.ProductOutputDir)ExcelExtensionAddIn.dll" />
      </Component>
      <Component Id="ExcelExtensionAddIn.dll.manifest" DiskId="1" Guid="CD6E8EF3-D8FE-47CD-82B2-A46C9185F2B4">
        <File Id="ExcelExtensionAddIn.dll.manifest" Name="ExcelExtensionAddIn.dll.manifest" Source="$(var.ProductOutputDir)ExcelExtensionAddIn.dll.manifest" />
      </Component>
      <Component Id="ExcelExtensionAddIn.vsto" DiskId="1" Guid="00684B31-0A9B-4E35-8EDD-7CAD7767C63B">
        <File Id="ExcelExtensionAddIn.vsto" Name="ExcelExtensionAddIn.vsto" Source="$(var.ProductOutputDir)ExcelExtensionAddIn.vsto" KeyPath="yes" />
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Office\Excel\Addins\ExcelExtension" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
          <RegistryValue Name="Description" Value="Excel Extension AddIn" Type="string" Action="write" />
          <RegistryValue Name="FriendlyName" Value="Excel Extension AddIn" Type="string" Action="write" />
          <RegistryValue Name="LoadBehavior" Value="3" Type="integer" Action="write" />
          <RegistryValue Name="Manifest" Value="file:///[#ExcelExtensionAddIn.vsto]|vstolocal" Type="string" Action="write" />
        </RegistryKey> 
        <RemoveFolder Id="ExcelExtensionAddInFolder" Directory="INSTALLFOLDER" On="both"/>
      </Component>
      <Component Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" DiskId="1" Guid="81DEAF94-FF6A-401A-8803-D4E48B8BC29A">
        <File Id="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Name="Microsoft.Office.Tools.Common.v4.0.Utilities.dll" Source="$(var.ProductOutputDir)Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
      </Component>
      <Component Id="Microsoft.Office.Tools.Excel.v4.0.Utilities.dll" DiskId="1" Guid="1F0BE150-BF55-4C91-B279-44A0421031FE">
        <File Id="Microsoft.Office.Tools.Excel.v4.0.Utilities.dll" Name="Microsoft.Office.Tools.Excel.v4.0.Utilities.dll" Source="$(var.ProductOutputDir)Microsoft.Office.Tools.Excel.v4.0.Utilities.dll" />
      </Component>
      <Component Id="log4net.dll" DiskId="1" Guid="6FA2ED70-AFFB-4FA4-B776-1B9C52014818">
        <File Id="log4net.dll" Name="log4net.dll" Source="$(var.ProductOutputDir)log4net.dll" />
      </Component>
      <Component Id="log4net.config" DiskId="1" Guid="CFE0676F-56FC-4013-8F3F-9F2A38A372D4">
        <File Id="log4net.config" Name="log4net.config" Source="$(var.ProductOutputDir)log4net.config" />
      </Component>
      <Component Id="ExcelExtensionAddin.log" DiskId="1" Guid="4725D775-84BD-41A5-9383-BB019CD0C27D">
        <RemoveFile Id="ExcelExtensionAddin.log" Name="ExcelExtensionAddin.log" On="uninstall" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
